@font-face {
  font-family: Avenir-Black;
  src: url("./fonts/AvenirLTStd-Black.otf") format("OTF");
}

@font-face {
  font-family: Avenir-Book;
  src: url("./fonts/AvenirLTStd-Book.otf") format("OTF");
}

@font-face {
  font-family: Avenir-Roman;
  src: url("./fonts/AvenirLTStd-Roman.otf") format("OTF");
}
